{% extends 'base.html' %}

{% block content %}


{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}


<div class="container mt-4">
    <h2>Extracted Emails</h2>
    <div class="list-group">
        {% for email in extracted_emails %}
            <a href="{{ link }}" class="list-group-item list-group-item-action link-item" target="_blank">
                <span class="link-number">{{ forloop.counter }}.</span> {{ email }}
            </a>
        {% endfor %}
    </div>
</div>

<div class = "container">
    <div class = "row justify-content-center">
        <div class = "col">
            <a href = "{% url 'UploadPdf' %}" class="btn btn-dark my-3">Go back</a>
        </div>
    </div>
</div>

<style>
    .link-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0.75rem;
    }

    .link-number {
        margin-right: 10px;
        font-weight: bold;
    }
</style>


{% endblock content %}
