{% extends 'base.html' %}

{% block content %}
<div class="container my-5 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="branding shadow text-center text-white mb-4 rounded">
            <h1>PdfXtract</h1>
        </div>

        <div class="card p-4 rounded shadow-lg">
            <div class="card-body">
                <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="submit-btn">Extract PDF</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}